# This file is to ignore the files that we do not want/necessary inside the running docker container 

# git 
.git 
.gitignore 

# docker 
.docker 

# python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
app/*/*/*/*/__pycache__/
.env 
.venv/
venv/